@media (max-width: 768px) {
    .nav-group {
        width: 100%;
        display: flex;
        align-items: center;
    }

    body {
        font-size: 16px;
    }

    nav {
        flex-direction: column;
        align-items: center;
        margin: 10px 0;
    }

    .nav-icon,
    .logo {
        width: 90px;
        height: 20px;
    }

    input {
        width: 85%;
        height: 30px;
        max-width: 100%;
        margin: 10px 0;
        border: 1px solid black;
    }

    .search-button {
        width: 50px;
        height: 34px;
        border: 1px solid black;
    }

    .video-and-comments {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    
    iframe {
        height: auto;
        width: 100%;
    }

    .video-info {
        text-align: left;
        width: 100%;
    }

    .video-stat {
        flex-direction: row;
        align-items: center;
        max-width: 100%;
        overflow-x: auto;
        font-size: 12px;
        gap: 6px;
        margin: 10px 0px -22px 0px;
    }

    .video-stat img {
        margin-right: 5px;
        width: 20px;
        height: 20px;
    }

    .video-title {
        text-align: left;
        font-size: 20px;
      }    

      #p-mobile {
        display: flex;
        flex-direction: row;
        text-align: left;
        text-align: left;
        margin: -11px 0 0 11px;
        padding: 5px;
      }
    
    aside {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .container {
        flex-direction: column;
        max-width: 100%;
        overflow-x: hidden; 
    }

    .video-about {
        display: flex;
        align-items: center;
        text-align: left;
    }

    .avatar {
        display: flex;
        align-items: center;
    }

    .avatar img {
        width: 50px;
        height: auto;
        margin-right: 10px;
    }

    .youtuber-name {
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
        margin: 0px 0px -80px -5px;
    }

    .subscribe-button{
        width: 120px;
        height: 35px;
        font-size: 13px;
    }
}